<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="panel">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Painel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entries">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <ion-label>Lançamentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="storage">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Estoque</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
